<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="metamodeloEnorm.design.Activator"
               id="metamodeloEnorm.design"
	       name="metamodeloEnorm">
    </component>
  </extension>
</plugin>
